@import "tailwindcss";

:root {
  --font-primary: "Kanit", "sans-serif";
}

html {
  font-family: var(--font-primary);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
  scrollbar-width: none; /* Pour Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Pour Chrome, Safari et Opera */
}

@theme {
  --color-primary: #ff9966;
  --font-primary: "Kanit", "sans-serif";
  --text-logo: 2rem;
  --text-logo-sm: 1rem;
}
